# Speaker Gender Organize
- 20240910
There is no gender information in our current data, however, since we collected spearke id, and the dataset provides metadata regarding gender of speakers, we could therefore figure out gender of spearkers by matching speaker id with metadata.

In [2]:
from paths import *
import pandas as pd
import os

In [6]:
text_dir = os.path.join(src_, 'SPEAKERS.TXT')

In [12]:
df = pd.read_csv(
    text_dir,  # Replace with the actual file path
    sep='|',                  # Specify that the separator is a pipe (|)
    skiprows=12,               # Skip the first 7 lines of comments
    engine='python',          # Use the Python engine to handle complex separators
    names=['ID', 'SEX', 'SUBSET', 'MINUTES', 'NAME'],  # Assign column names
    skipinitialspace=True     # Remove any leading spaces after the separator
)

# Display the DataFrame
df

        ID SEX             SUBSET  MINUTES              NAME
0       14  F   train-clean-360      25.03   Kristin LeMoine
1       16  F   train-clean-360      25.11    Alys AtteWater
2       17  M   train-clean-360      25.04    Gord Mackenzie
3       19  F   train-clean-100      25.19  Kara Shallenberg
4       20  F   train-other-500      30.07            Gesine
...    ...  ..                ...      ...               ...
2479  8975  F   train-clean-100      25.11       Daisy Flaim
2480  9000  M   train-other-500      27.26   Ramon Escamilla
2481  9022  F   train-clean-360      25.17          Claire M
2482  9023  F   train-clean-360      25.19      P. J. Morgan
2483  9026  F   train-clean-360      21.75      Tammy Porter

[2484 rows x 5 columns]

We can see that the gender (SEX) and ID is very clearly defined in the metadata. We can use this information to determine the gender of speakers using speaker ID.

In [15]:
# Now save it. 

df.to_csv(os.path.join(src_, 'speakers.csv'), index=False)